{% extends 'base.html' %}
{% block content %}
<style>
    .room-container {
        display: grid;
        grid-template-columns: 3fr 1fr;
    } 
    
    .delete-message {
        color: red;
        font-weight: bold;
    }
</style>
<div class="room-container">
    <div>
        <h1>{{room.name}}</h1>
        <p>{{room.description}}</p>

        <div class="comment-wrapper">
            <h3>Conversation</h3>
            <hr>
            {% for msg in room_chat %}
                <div>
                    <small>@{{msg.user}} {{msg.created | timesince}} ago</small><br>
                    <span>{{msg.body}}</span>   
                    {% if request.user == msg.user %}
                    <a href="{% url 'core:delete-message' msg.id %}" class="delete-message">delete</a>
                    {% endif %}
                    <br><br>
                </div>
            {% endfor %}
        </div>

        {% if request.user.is_authenticated %}
            <div class="comment-form">
                <form method="POST" action="">
                    {% csrf_token %}
                    <input type="text" name="body" placeholder="Write your message here...">
                </form>
            </div>
        {% endif %}
    </div>

    <div>
        <h3>Participants</h3>
        <hr>
        {% for pt in participants %}
            <p>@{{ pt.username }}</p>
        {% endfor %}
    </div>
</div>
{% endblock content %}